{% extends 'shop/admin_store.html' %}

{% block form %}
<div class="container">
    <div class="row">
        {% for post in page_obj %}
        <div class="col-md-4" style="margin: 2% 0;">

            <div class="card" style="width: 18rem;">
                <img style="border-radius: 20%; width: 287px; height: 250px;" src="{{ post.main_image.url }}" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description|slice:"0:20" }}</p>

                    <a href="{% url 'blog:delete_post' market.slug post.id %}" style="width: 100%;" class="btn btn-danger">حذف</a>
                    <a href="{% url 'blog:edit_post' market.slug post.id %}" style="width: 100%;" class="btn btn-warning">ویرایش</a>

                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"><li class="page-item disabled page-link">Previous</li></a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <a href="#"><li class="page-item active" aria-current="page">
            <span class="page-link">{{ i }}</span></li></a>
        {% else %}
        <a href="?page={{ i }}"><li class="page-item page-link">{{ i }}</li></a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><li class="page-item page-link">Next</li></a>
        {% endif %}
      
    </ul>
</nav>

{% endblock %}