{% extends 'base.html' %}

{% block title %}profile Page{% endblock title %}

{% block drop_down %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'accounts:edit_profile' %}">ویرایش اطلاعات حساب کاربری</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        لیست فروشگاه های شما
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for market in market_user %}
        {% if market.status != 'D' %}
        <li><a class="dropdown-item text-center fs-4" href="{% url 'shop:store' market.slug %}">{{ market }}</a></li>
        <div class="container">
            <div class="row row-cols-2">
                <li class="btn btn-warning"><a class="dropdown-item text-light" href="{% url 'accounts:edit_market' market.slug %}">ویرایش</a></li>
                <li class="btn btn-danger"><a class="dropdown-item text-light" href="{% url 'accounts:delete_market' market.slug %}">حذف</a></li>
            </div>
        </div>
        <li>
            <hr class="dropdown-divider">
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</li>
{% endblock %}

{% block header %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" onclick="open_create_shop_Form()" href="#">ایجاد فروشگاه جدید</a>
</li>
{% endblock %}

{% block content %}

{% load static %}

<div style='display:block; margin:1% 25%; width:50%; text-align: center;'>
    <img style="width: 50%; " src="{{ profile.image.url }}" alt="image_profile">
    <p><strong>نام کاربری : </strong>{{ profile.username }}</p>
    <p><strong>آدرس محل سکونت : </strong>{{ profile.address }}</p>
</div>

<div class="form-popup" id="form_create_shop" style="z-index: 8; margin: 10% 20% 10% 20%;">
    <form action="{% url 'accounts:create_market' %}" method="post" style="height: 330px;" class="form-container">
        {% csrf_token %}
        <div class="text-center">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <label for="title"><b>عنوان فروشگاه</b></label>
                        <input type="text" placeholder="عنوان فروشگاه را وارد نمایید" name="title" required>
                    </div>

                    <div class="col-md-6">
                        <label for="slug"><b>آدرس اینترنتی</b></label>
                        <input type="text" placeholder="آدرس اینترنتی فروشگاه را وارد نمایید" name="slug" required>
                    </div>

                    <label for="type"><b>نوع فروشگاه</b></label>
                    <select name="type" required="" id="id_type"
                        style="width: 40%; text-align: center; margin: 0 30% 2% 30%;">
                        <option value="" selected="">---------</option>
                        <option value="D">کالا های دیجیتال</option>
                        <option value="C">خودرو و ابزار و تجهیزات صنعتی</option>
                        <option value="M">مد و پوشاک</option>
                        <option value="K">اسباب بازی , کودک و نوزاد</option>
                        <option value="S">کالاهای سوپرمارکتی</option>
                        <option value="Z">زیبایی و سلامت</option>
                        <option value="P">خانه و آشپزخانه</option>
                        <option value="B">کتاب و لوازم تحریر و هنر</option>
                        <option value="V">ورزش و سفر</option>
                        <option value="H">محصولات بومی و محلی</option>
                    </select>

                    <button class="btn btn-success" type="submit">ایجاد</button>
                    <a href="#"><button type="button" onclick="close_create_shop_Form()"
                            class="btn cancel">بیخیال</button></a>
                </div>
            </div>
        </div>
        <br><br>
    </form>
</div>

{% block form %}{% endblock %}

<script src="{% static 'js/forms.js' %}"></script>
{% endblock %}