<div class="form-popup" style="margin: 5% 30%;" id="myForm">
    <form action="{% url 'shop:CreateTag' market.slug %}" method="post" class="form-container" style="height: 250px;">
        {% csrf_token %}
        <label for="title"><b>عنوان تگ</b></label>
        <input type="text" placeholder="عنوان تگ را وارد نمایید" name="title" required>

        <button type="submit" class="btn btn-success">ایجاد</button>
        <button type="button" class="btn cancel" onclick="close_tag_create_Form()">بیخیال</button>
    </form>
</div>


<div class="form-popup" style="margin: 5% 30%;" id="category_Form">
    <form action="{% url 'shop:CreateCategory' market.slug %}" method="post" class="form-container" style="height: 250px;">
        {% csrf_token %}

        <label for="title"><b>والد تگ</b></label>
        <input type="text" placeholder="عنوان تگ را وارد نمایید" name="title" required>

        <label for="title"><b>عنوان تگ</b></label>
        <input type="text" placeholder="عنوان تگ را وارد نمایید" name="title" required>

        <button type="submit" class="btn btn-success">ایجاد</button>
        <button type="button" class="btn cancel" onclick="close_category_create_Form()">بیخیال</button>
    </form>
</div>