{% extends 'base.html' %}

{% block title %}admin - {{ market }}{% endblock title %}

{% block drop_down %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        فروشگاه
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'shop:show_product' market.slug %}">لیست محصولات</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:create_product' market.slug %}">افزودن محصول</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:show_tag' market.slug %}">لیست تگ ها</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:create_tag' market.slug %}">افزودن تگ</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:show_category' market.slug %}">لیست دسته بندی ها</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:create_category' market.slug %}">افزودن دسته بندی ها</a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        بلاگ
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">لیست پست ها</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">افزودن پست</a></li>
        <li>
    </ul>
</li>
{% endblock %}

{% block content %}

{% block form %}{% endblock %}

{% endblock %}