{% extends 'base.html' %}

{% block content %}
<div class="form-popup" style="margin: 8% 37%; display: block;" id="delete_tag">
    <form action="" method="post" class="form-container" style="height: 200px;">
        {% csrf_token %}
        <h3>آیا از حذف اطمینان دارید</h3>
        <input type="submit" class="btn btn-success" value="حذف">
        {% if type_delete == 'tag' %}
        <a href="{% url 'shop:show_tag' tag.owner.slug %}"><button type="button" class="btn cancel">بیخیال</button></a>
        {% elif type_delete == 'category' %}
        <a href="{% url 'shop:show_category' category.owner.slug %}"><button type="button" class="btn cancel">بیخیال</button></a>
        {% endif %}
    </form>
</div>
{% endblock %}