{% extends 'base.html' %}

{% block title %}admin - {{ market }}{% endblock title %}

{% block drop_down %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        فروشگاه
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">لیست محصولات</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:create_product' market.slug %}">افزودن محصول</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:show_tag' market.slug %}">لیست تگ ها</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" onclick="create_tag_form()" href="#">افزودن تگ</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:show_category' market.slug %}">لیست دسته بندی ها</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" onclick="create_category_form()" href="#">افزودن دسته بندی ها</a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        بلاگ
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">لیست پست ها</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">افزودن پست</a></li>
        <li>
    </ul>
</li>
{% endblock %}

{% block content %}

{% load static %}

{% include 'shop/inc/forms.html' %}

{% load crispy_forms_tags %}

<form enctype="multipart/form-data" style="width: 50%; margin: 3% 25%;" action="" method="post">
    {% csrf_token %}
    <div class="text-center">{{ form|crispy }}</div>
    <button style="width: 100%; margin: 3% 0;" type="submit" class="btn btn-success">بروزرسانی</button>
    <a href="#"><p style="width: 100%;"class="btn btn-danger">بیخیال</p></a>
</form>

<script src="{% static 'js/forms.js' %}"></script>
{% endblock %}