{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block header %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">API فروشگاه</a>
</li>

<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">API مقالات</a>
</li>
{% endblock %}

{% block content %}



<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4" style="margin: 2% 0;">

            <div class="card" style="width: 18rem;">
                <img style="border-radius: 20%; width: 238px; height: 250px;" src="{{ product.main_image.url }}" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description|slice:"0:20" }}</p>



                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}