{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block header %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">API فروشگاه</a>
</li>

<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">API مقالات</a>
</li>
{% endblock %}

{% block content %}



<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4" style="margin: 2% 0;">

            <div class="card" style="width: 18rem;">
                <img style="border-radius: 20%; width: 287px; height: 250px;" src="{{ product.main_image.url }}"
                    class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title"><a dir='auto' href="{% url 'shop:product_detail' product.id %}" class="link-dark" style="text-decoration: none;">{{ product.title }}</a></h5>
                    <p class="card-text">{{ product.description|slice:"0:20" }}</p>



                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"><li class="page-item disabled page-link">Previous</li></a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <a href="#"><li class="page-item active" aria-current="page">
            <span class="page-link">{{ i }}</span></li></a>
        {% else %}
        <a href="?page={{ i }}"><li class="page-item page-link">{{ i }}</li></a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><li class="page-item page-link">Next</li></a>
        {% endif %}
      
    </ul>
</nav>



{% endblock %}