{% extends 'base.html' %}

{% block title %}admin - {{ market }}{% endblock title %}

{% block drop_down %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        فروشگاه
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">لیست محصولات</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:create_product' market.slug %}">افزودن محصول</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:show_tag' market.slug %}">لیست تگ ها</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" onclick="create_tag_form()" href="#">افزودن تگ</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'shop:show_category' market.slug %}">لیست دسته بندی ها</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" onclick="create_category_form()" href="#">افزودن دسته بندی</a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        بلاگ
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">لیست پست ها</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">افزودن پست</a></li>
        <li>
    </ul>
</li>
{% endblock %}

{% block content %}

{% load static %}

{% include 'shop/inc/forms.html' %}

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th scope="col">حذف</th>
            <th scope="col">ویرایش</th>
            <th scope="col">عنوان</th>
        </tr>
    </thead>
    <tbody>
        {% for subset in subsets %}
        <tr>
            {% if type == 'tag' %}
            <td><a href="{% url 'shop:delete_tag' market.slug subset.id %}">حذف</a></td>
            <td><a href="{% url 'shop:edit_tag' market.slug subset.id %}">ویرایش</a></td>
            <td>{{ subset.title }}</td>
            {% endif %}

            {% if type == 'category' %}
            <td><a href="{% url 'shop:delete_category' market.slug subset.id %}">حذف</a></td>
            <td><a href="{% url 'shop:edit_category' market.slug subset.id %}">ویرایش</a></td>
            <td>{{ subset.title }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static 'js/forms.js' %}"></script>
{% endblock %}